<div class="section">
  <div class="section-content">
    <div class="section-row">
      <div class="section-cell">
        <label>Welcome to Parcelify!</label>
        <p>
          Parcelify let you create simple yet powerful shipping rates based on address fields, products, total weight or price. Whether you'd like to create a "5$ Bike delivery" shipping rates for your neighbors, a "Free hand delivery" for your coworkers or an expensive 25$ "Plane delivery" for that remote region in your country, we've got your back. Oh! you want that rate only for orders above $100? You can do that, too!
        </p>
        <p>
          You can find all the help required on <a href="https://github.com/christianblais/parcelify/blob/master/README.md" target="_blank">our Github page</a>.
        </p>
        <p>
          Ready to start? Go ahead, and add a new shipping rate!
        </p>
      </div>
    </div>
  </div>
</div>

<% content_for :shopify_app_javascript do %>
  ShopifyApp.Bar.initialize({
    title: 'Welcome',
    buttons: {
      primary: { label: "New shipping rate", callback: function() {
        window.location = "<%= new_rate_path %>"
      }}
    }
  });
<% end %>
